@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<body>

    <!-- Inner content -->
    <div class="content-inner">



        <!-- Content area -->
        <div class="content">

         
            <div class="row">


                <div class="col">
                    <div class="card">

                        <div class="card-body">
                            <h3 class="card-title">Estación TRF1500-1</h3>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <h5 class="card-title">No Parte</h5>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <h5 class="card-title">Proyectado</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_1_trf1500_1" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_1_trf1500_1" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_2_trf1500_1" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_2_trf1500_1" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_3_trf1500_1" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_3_trf1500_1" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_4_trf1500_1" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_4_trf1500_1" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_5_trf1500_1" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_5_trf1500_1" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_6_trf1500_1" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_6_trf1500_1" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_7_trf1500_1" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_7_trf1500_1" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_8_trf1500_1" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_8_trf1500_1" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_9_trf1500_1" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_9_trf1500_1" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_10_trf1500_1" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_10_trf1500_1" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_11_trf1500_1" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_11_trf1500_1" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_12_trf1500_1" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_12_trf1500_1" placeholder="">
                                    </div>
                                </div>
                            </div>


                            <div class="text-right">
                                <a href="#" class="btn btn-primary" onclick="editar_1500_1()">Modificar</a>
                            </div>

                        </div>

                    </div>
                    <!-- /default grid -->
                </div>

                <div class="col">
                    <div class="card">

                        <div class="card-body">
                            <h3 class="card-title">Estación TRF1500-2</h3>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <h5 class="card-title">No Parte</h5>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <h5 class="card-title">Proyectado</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_1_trf1500_2" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_1_trf1500_2" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_2_trf1500_2" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_2_trf1500_2" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_3_trf1500_2" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_3_trf1500_2" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_4_trf1500_2" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_4_trf1500_2" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_5_trf1500_2" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_5_trf1500_2" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_6_trf1500_2" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_6_trf1500_2" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_7_trf1500_2" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_7_trf1500_2" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_8_trf1500_2" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_8_trf1500_2" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_9_trf1500_2" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_9_trf1500_2" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_10_trf1500_2" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_10_trf1500_2" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_11_trf1500_2" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_11_trf1500_2" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_12_trf1500_2" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_12_trf1500_2" placeholder="">
                                    </div>
                                </div>
                            </div>


                            <div class="text-right">
                                <a href="#" class="btn btn-primary" onclick="editar_1500_2()">Modificar</a>
                            </div>

                        </div>

                    </div>
                   
                </div>

                <div class="col">
                    <div class="card">

                        <div class="card-body">
                            <h3 class="card-title">Estación TRF2500</h3>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <h5 class="card-title">No Parte</h5>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <h5 class="card-title">Proyectado</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_1_trf2500" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_1_trf2500" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_2_trf2500" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_2_trf2500" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_3_trf2500" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_3_trf2500" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_4_trf2500" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_4_trf2500" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_5_trf2500" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_5_trf2500" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_6_trf2500" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_6_trf2500" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_7_trf2500" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_7_trf2500" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_8_trf2500" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_8_trf2500" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_9_trf2500" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_9_trf2500" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_10_trf2500" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_10_trf2500" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_11_trf2500" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_11_trf2500" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_12_trf2500" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_12_trf2500" placeholder="">
                                    </div>
                                </div>
                            </div>


                            <div class="text-right">
                                <a href="#" class="btn btn-primary" onclick="editar_2500()">Modificar</a>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="col">
                    <div class="card">

                        <div class="card-body">
                            <h3 class="card-title">Hotstamping Aida</h3>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <h5 class="card-title">No Parte</h5>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <h5 class="card-title">Proyectado</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_1_stamping" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_1_stamping" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_2_stamping" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_2_stamping" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_3_stamping" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_3_stamping" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_4_stamping" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_4_stamping" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_5_stamping" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_5_stamping" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_6_stamping" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_6_stamping" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_7_stamping" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_7_stamping" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_8_stamping" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_8_stamping" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_9_stamping" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_9_stamping" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_10_stamping" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_10_stamping" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_11_stamping" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_11_stamping" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_12_stamping" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_12_stamping" placeholder="">
                                    </div>
                                </div>
                            </div>


                            <div class="text-right">
                                <a href="#" class="btn btn-primary" onclick="editar_stamping()">Modificar</a>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="col">
                    <div class="card">

                        <div class="card-body">
                            <h3 class="card-title">Hotstamping Kayasaki</h3>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <h5 class="card-title">No Parte</h5>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <h5 class="card-title">Proyectado</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_1_stamping_kayasaki" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_1_stamping_kayasaki" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_2_stamping_kayasaki" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_2_stamping_kayasaki" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_3_stamping_kayasaki" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_3_stamping_kayasaki" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_4_stamping_kayasaki" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_4_stamping_kayasaki" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_5_stamping_kayasaki" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_5_stamping_kayasaki" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_6_stamping_kayasaki" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_6_stamping_kayasaki" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_7_stamping_kayasaki" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_7_stamping_kayasaki" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_8_stamping_kayasaki" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_8_stamping_kayasaki" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_9_stamping_kayasaki" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_9_stamping_kayasaki" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_10_stamping_kayasaki" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_10_stamping_kayasaki" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_11_stamping_kayasaki" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_11_stamping_kayasaki" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="num_parte_12_stamping_kayasaki" placeholder="">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="proyectado_12_stamping_kayasaki" placeholder="">
                                    </div>
                                </div>
                            </div>


                            <div class="text-right">
                                <a href="#" class="btn btn-primary" onclick="editar_stamping_kayasaki()">Modificar</a>
                            </div>

                        </div>

                    </div>

                </div>






            </div>
            <!-- /info blocks -->


        </div>
        <!-- /inner content -->

    </div>



</body>
</html>






<!-- Vertical form modal -->
<div id="trf1500_1_modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Proyectado</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <form action="#">
                <div class="modal-body">

                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label>Numero de golpes</label>
                                <input type="number" id="valor_proyectado_1500_1" placeholder="" class="form-control">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="submit_1500_1()">Modificar</button>
                </div>


            </form>
        </div>
    </div>
</div>
<!-- /vertical form modal -->
<!-- Vertical form modal -->
<div id="trf1500_2_modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Proyectado</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <form action="#">
                <div class="modal-body">

                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label>Numero de golpes</label>
                                <input type="number" id="valor_proyectado_1500_2" placeholder="" class="form-control">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="submit_1500_2()">Modificar</button>
                </div>


            </form>
        </div>
    </div>
</div>
<!-- /vertical form modal -->
<!-- Vertical form modal -->
<div id="trf2500_modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Proyectado</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <form action="#">
                <div class="modal-body">

                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label>Numero de golpes</label>
                                <input type="number" id="valor_proyectado_2500" placeholder="" class="form-control">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="submit_2500()">Modificar</button>
                </div>


            </form>
        </div>
    </div>
</div>
<!-- /vertical form modal -->
<!-- Vertical form modal -->
<div id="stamping_modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Proyectado</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <form action="#">
                <div class="modal-body">

                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label>Numero de golpes</label>
                                <input type="number" id="valor_proyectado_stamping" placeholder="" class="form-control">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="submit_stamping()">Modificar</button>
                </div>


            </form>
        </div>
    </div>
</div>
<!-- /vertical form modal -->
<!-- Vertical form modal -->
<div id="stamping_kayasaki_modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Proyectado</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <form action="#">
                <div class="modal-body">

                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label>Numero de golpes</label>
                                <input type="number" id="valor_proyectado_stamping_kayasaki" placeholder="" class="form-control">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="submit_stamping_kayasaki()">Modificar</button>
                </div>


            </form>
        </div>
    </div>
</div>
<!-- /vertical form modal -->
@section Scripts
    {

    <script src="/global_assets/js/plugins/tables/datatables/datatables.min.js"></script>
    <script src="/global_assets/js/plugins/tables/datatables/extensions/select.min.js"></script>
    <script src="/global_assets/js/plugins/tables/datatables/extensions/buttons.min.js"></script>
    <script src="/global_assets/js/plugins/notifications/sweet_alert.min.js"></script>

    <!--  -->
    <script src="~/global_assets/js/plugins/extensions/jquery_ui/interactions.min.js"></script>
    <script src="~/global_assets/js/plugins/forms/selects/select2.min.js"></script>

    <script src="~/custom/js/catalogo/proyectado.js"></script>





}