@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<body>

    <!-- Inner content -->
    <div class="content-inner">



        <!-- Content area -->
        <div class="content">



            <div class="row">


                <div class="col">
                    <div class="card p-3 mb-2">

                        <a href="~/Home/Estacion1500T1" class="stretched-link"></a>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="background-color: lightyellow;"  colspan="2" align="center">TRF1500-1</th>
                                </tr>
                            </thead>
                            <tbody>
                               
                                <tr>
                                    <td>CONTADOR</td>
                                    <td id="trf1500_1_contador"></td>
                                </tr>
                                <tr>
                                    <td>NUMERO PARTE</td>
                                    <td id="trf1500_1_numero_parte"></td>
                                </tr>
                                <tr>
                                    <td>NUMERO PARTE SIGUIENTE</td>
                                    <td id="trf1500_1_numero_parte_siguiente"></td>
                                </tr>
                                <tr>
                                    <td>MODELO</td>
                                    <td id="trf1500_1_modelo"></td>
                                </tr>
                                <tr>
                                    <td>SPM</td>
                                    <td id="trf1500_1_spm"></td>
                                </tr>
                                <tr>
                                    <td>Proyectado Actual</td>
                                    <td id="trf1500_1_proyectado"></td>
                                </tr>
                                


                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col">
                    <div class="card p-3 mb-2">

                        <a href="~/Home/Estacion1500T2" class="stretched-link"></a>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="background-color: lightyellow;"  colspan="2" align="center">TRF1500-2</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>CONTADOR</td>
                                    <td id="trf1500_2_contador"></td>
                                </tr>
                                <tr>
                                    <td>NUMERO PARTE</td>
                                    <td id="trf1500_2_numero_parte"></td>
                                </tr>
                                <tr>
                                    <td>NUMERO PARTE SIGUIENTE</td>
                                    <td id="trf1500_2_numero_parte_siguiente"></td>
                                </tr>
                                <tr>
                                    <td>MODELO</td>
                                    <td id="trf1500_2_modelo"></td>
                                </tr>
                                <tr>
                                    <td>SPM</td>
                                    <td id="trf1500_2_spm"></td>
                                </tr>
                                <tr>
                                    <td>Proyectado Actual</td>
                                    <td id="trf1500_2_proyectado"></td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col">
                    <div class="card p-3 mb-2">

                        <a href="~/Home/Estacion2500T" class="stretched-link"></a>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="background-color: lightyellow;"  colspan="2" align="center">TRF2500</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>CONTADOR</td>
                                    <td id="trf2500_contador"></td>
                                </tr>
                                <tr>
                                    <td>NUMERO PARTE</td>
                                    <td id="trf2500_numero_parte"></td>
                                </tr>
                                <tr>
                                    <td>NUMERO PARTE SIGUIENTE</td>
                                    <td id="trf2500_numero_parte_siguiente"></td>
                                </tr>
                                <tr>
                                    <td>MODELO</td>
                                    <td id="trf2500_modelo"></td>
                                </tr>
                                <tr>
                                    <td>SPM</td>
                                    <td id="trf2500_spm"></td>
                                </tr>
                                <tr>
                                    <td>Proyectado Actual</td>
                                    <td id="trf2500_proyectado"></td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
            <div class="row">


                <div class="col">
                    <div class="card p-3 mb-2">

                        <a href="~/Home/EstacionHS1" class="stretched-link"></a>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="background-color: lightyellow;" colspan="2" align="center">HOT STAMPING AIDA</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>CONTADOR</td>
                                    <td id="stamping_contador"></td>
                                </tr>
                                <tr>
                                    <td>NUMERO PARTE</td>
                                    <td id="stamping_numero_parte"></td>
                                </tr>
                                <tr>
                                    <td>NUMERO PARTE SIGUIENTE</td>
                                    <td id="stamping_numero_parte_siguiente"></td>
                                </tr>
                                <tr>
                                    <td>MODELO</td>
                                    <td id="stamping_modelo"></td>
                                </tr>
                                <tr>
                                    <td>SPM</td>
                                    <td id="stamping_spm"></td>
                                </tr>
                                <tr>
                                    <td>Proyectado Actual</td>
                                    <td id="stamping_proyectado"></td>
                                </tr>



                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col">
                    <div class="card p-3 mb-2">

                        <a href="~/Home/EstacionHS2" class="stretched-link"></a>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="background-color: lightyellow;" colspan="2" align="center">HOT STAMPING KAYASAKI</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>CONTADOR</td>
                                    <td id="stamping_kayasaki_contador"></td>
                                </tr>
                                <tr>
                                    <td>NUMERO PARTE</td>
                                    <td id="stamping_kayasaki_numero_parte"></td>
                                </tr>
                                <tr>
                                    <td>NUMERO PARTE SIGUIENTE</td>
                                    <td id="stamping_kayasaki_numero_parte_siguiente"></td>
                                </tr>
                                <tr>
                                    <td>MODELO</td>
                                    <td id="stamping_kayasaki_modelo"></td>
                                </tr>
                                <tr>
                                    <td>SPM</td>
                                    <td id="stamping_kayasaki_spm"></td>
                                </tr>
                                <tr>
                                    <td>Proyectado Actual</td>
                                    <td id="stamping_kayasaki_proyectado"></td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>






            </div>





        </div>

    </div>




</body>
</html>






@section Scripts
    {

    <link href="~/assets/css/custom.css" rel="stylesheet" type="text/css">
    <script src="~/global_assets/js/plugins/visualization/echarts/echarts.min.js"></script>

    <script src="~/custom/js/home/Index.js"></script>




}